dl {
  margin-bottom: 15px;
}
dl.field-list {
  display: grid;
  grid-template-columns: fit-content(30%) auto;
  background-color: #cee6b4;
  padding: 5px 10px;
}
dl.field-list ul.simple li em {
  color: red;
  padding: 1px 2px;
}
th, dl.field-list dt, dl.field-list dd {
  padding: 5px;
  margin: 0;
}
th, dl.field-list > dt {
  background-color: #9ecca4;
  color: #1f441e;
  text-align: left;
}
div.body p, div.body dd, div.body li, div.body blockquote {
  text-align: left!important;
}
.wy-side-nav-search, .wy-nav-top {
  background: #1f441e;
}

/* .rst-content dl.fie dd {
  margin: 0 0 12px 24px;
  line-height: 24px;
} */

/* 9b3675 */
.rst-content div[class^=highlight] pre {
  padding: 5px;
}
div.viewcode-block:target {
  display: inline-block;
  background-color: #ffffc7;
  margin: -3px -5px;
  padding: 3px 5px;
  border-radius: 5px;
}

/* <--- Style from Python Charmers --- */
dl.py > dt {
  padding: 0.5em;
  border-radius: 0.5em;
}
dl.py.class > dt {
  background-color: #fff8cd;
}
dl.py.function > dt {
  background-color: #f7c2c2;
}
div.related {
  background-color: #722F38;
}
.py.method code.sig-name.descname {
  color: #0000FF;
}
.py.attribute code.sig-name.descname {
  color: red;
}
code.sig-name.descname {
  color: #008000;
}
span.pre {
  color: tomato;
}
th, dl.field-list dt, dl.field-list dd {
  padding: 5px;
}
/* --- Style from Python Charmers ---> */